.title {
  line-height: 1.15;
  font-size: 4rem;
}


.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.contentleft {
  background-image: url(/background.png);
  height: 100vh;
  width: 40vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items:flex-start;
  background-color: darkblue;
}

.contentright {
 background-color: darkblue;
}
