.main {
    background-color: #151d27;
    flex-direction: column;
    display: flex;
    width: 30vw;
    height: 100vh;
    align-items: flex-start;
    border-left: 2px solid gray;
    justify-content: flex-start;
    padding-left: 20px;
    color: whitesmoke;
} 

.sub {
    color: gray;
    padding-top: 10px;
}

.sup {
    cursor: pointer;
}

.hashtag {
    display: flex;
    flex-direction: column;
    width: 27vw;
    padding: 25px;
    font-weight: 600;
}

.container{
    background-color: #1b232c;
    border-radius: 10px;
}